@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    @*Please check your email to reset your password.*@
    Vă rugăm să verificați adresa de e-mail pentru a vă reseta parola.
</p>

