@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@*You have successfully logged out of the application.*@
    V-ați deconectat cu succes de la aplicație.</p>
</header>